// fonts //
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@400;700&display=swap");
$khula: "Khula", sans-serif;
// available weights: 400, 700 //

// colors //
$grey: rgb(133, 141, 147);
$orange: rgb(246, 142, 86);
$blue: rgb(89, 173, 228);
$light-orange: rgba(246, 142, 86, 0.5);
$light-blue: rgba(89, 173, 228, 0.5);
