@import "./reset";
@import "./variables";
@import "./mixins";

body {
  background-color: white;
  overflow: hidden;
  @include display-properties(flex, center, center, $direction: column);
}

.title-container {
  margin-top: 2%;

  .h1 {
    @include font-properties($grey, $khula, 3vmin, 700, center);
  }

  .h2 {
    @include font-properties($grey, $khula, 2vmin, 400, center);
    margin: 0;
  }
}

.choose-container {
  @include display-properties(grid, center, center, center);
  grid-template-columns: repeat(2, auto);
  grid-gap: 5vmin;
  margin: 3% auto;

  .choose-cell {
    @include dimension-properties(25vmin, 25vmin);
    border-radius: 15%;
    cursor: pointer;
    transition: 0.3s ease-in;

    &.orange {
      background-color: $orange;
    }

    &.blue {
      background-color: $blue;
    }
  }

  .choose-cell:hover {
    @include dimension-properties(26vmin, 26vmin);
  }
}

.board-container {
  display: none;
  opacity: 0;

  grid-template-columns: repeat(3, auto);
  grid-gap: 0.5vmin;

  margin: 2% auto;

  &.opacity-board {
    opacity: 100;
    transition: 0.5s ease-in;
  }

  &.remove-opacity-board {
    opacity: 0;
    transition: 0.5s ease-in;
  }

  &.show-board {
    @include display-properties(grid, center, center, center);
  }

  .board-cell {
    @include dimension-properties(15vmin, 15vmin);
    background-color: $grey;

    border-radius: 15%;

    cursor: pointer;
    transition: 0.5s ease-in;

    &.orange {
      background-color: $orange;
    }

    &.blue {
      background-color: $blue;
    }

    &.blue,
    &.orange {
      cursor: not-allowed;
    }

    &.end-game {
      pointer-events: none;
    }
  }

  &.orange .board-cell:not(.orange):not(.blue):hover {
    background-color: $light-orange;
  }

  &.blue .board-cell:not(.orange):not(.blue):hover {
    background-color: $light-blue;
  }
}

.win-container {
  display: none;
  opacity: 0;

  @include font-properties($grey, $khula, 5vmin, 700, center);

  margin: 2% auto;

  .button-container {
    @include display-properties(flex, center, center, $direction: row);

    button {
      @include font-properties(white, $khula, 3vmin, 700, center);

      border: none;
      background-color: $grey;
      padding: 0.25em 0.5em;
      cursor: pointer;

      margin: auto 2%;
    }
  }

  &.opacity-win {
    opacity: 100;
    transition: 0.5s ease-in;
  }

  &.show-win {
    @include display-properties(flex, center, center, $direction: column);
  }

  &.remove-opacity-win {
    opacity: 0;
    transition: 0.5s ease-in;
  }
}

.opacity-toggle {
  opacity: 0;
  transition: 0.5s ease-in;
}

.remove-opacity-toggle {
  opacity: 100;
  transition: 0.5s ease-in;
}

.hide-toggle {
  display: none;
}
