@import "./reset";
@import "./variables";
@import "./mixins";

body {
  background-color: white;
  overflow: hidden;
  @include display-properties(flex, center, center, $direction: column);
}

.title-container {
  @include font-properties($grey, $khula, 3vmin, 700, center);

  margin: 2% auto;
}

.board-container {
  @include display-properties(grid, center, center, center);
  grid-template-columns: repeat(3, auto);
  grid-gap: 0.5vmin;

  margin: 3% auto;

  .board-cell {
    @include dimension-properties(15vmin, 15vmin);
    background-color: $grey;

    border-radius: 15%;

    cursor: pointer;

    &.orange {
      background-color: $orange;
    }

    &.blue {
      background-color: $blue;
    }

    &.blue,
    &.orange {
      cursor: not-allowed;
    }

    &.end-game {
      pointer-events: none;
    }
  }

  &.orange .board-cell:not(.orange):not(.blue):hover {
    background-color: $light-orange;
  }

  &.blue .board-cell:not(.orange):not(.blue):hover {
    background-color: $light-blue;
  }
}

.win-container {
  display: none;

  @include font-properties($grey, $khula, 5vmin, 700, center);

  margin: 2% auto;

  .button-container {
    @include display-properties(flex, center, center, $direction: row);

    button {
      @include font-properties(white, $khula, 3vmin, 700, center);

      border: none;
      background-color: $grey;
      padding: 0.25em 0.5em;
      cursor: pointer;

      margin: auto 2%;
    }
  }

  &.show {
    @include display-properties(flex, center, center, $direction: column);
  }
}
